.azeret-mono-nomal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}


/* share style  */
.text-color{
    color: #0D1321;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    border: 1px solid #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
}
.btn-secondary{
    font-family: "Azeret Mono", monospace;
    background-color: #0D1321;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 8px;
    margin-top: 32px;
}
.description{
    font-size: 16px;
    opacity: 0.7;
}


/* nav bar style  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 38px 150px;
}
.nav h2{
    font-weight: bolder;
    font-size: 28px;
}
 
/* hero section style  */
.banner{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    text-align: center;
    padding: 26px 221px 45px;
}
.banner-title{
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 24px;
}


